# dependencies
node_modules/

# cache
**/.cache/

# build
/build
/dist

# environment
.env
.env.*
!.env.example

# OS files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# misc
.pnp
.pnp.js